/*

--- Paticka webu ---

*/


@media screen {

	.foot {
    margin-top: 48px;
	  clear: both;
	  padding: 1.6326530612% 30px; /* 16/980*100 */
	  background-color: #ccc;
	  color: #999;
	}

	.foot p {
	  margin-bottom: 0;
	}

}

