/*

--- Fotogalerie ---

*/

.gallery {
	margin-right: -3.7037037037%; /* -20/540*100 Prostor pro margin treti .gallery-item v radku */
}

.gallery-item {
	float: left;
	width: 30.357142857%; /* 170/560*100 */
	margin: 0 2.6785714286% 15px 0; /* 15/560*100 */
}

.gallery-item img {
  max-width: 100%;
  height: auto;
}

.gallery-item a {
	margin-bottom: 4px;
}

