/*

--- Fotogalerie ---

*/

.gallery {
	margin-right: -3.5714285714%; /* -20/560*100 Prostor pro margin treti .gallery-item v radku */
}

.gallery-item {
	float: left;
	width: 30.357142857%; /* 170/560*100 */
	margin: 0 2.6785714286% 2.6785714286% 0; /* 15/560*100 */
}

.gallery-item a {
	margin-bottom: 4px;
}

